<% content_for :title do %>
    LOGIN
<% end %>
<% content_for :js do %>
    <script>
        $('#show-password').change(function() {
            if (document.getElementById('show-password').checked) {
                $('#password').clone().attr('type', 'text').insertAfter('#password').prev().remove();
            } else {
                $('#password').clone().attr('type', 'password').insertAfter('#password').prev().remove();
            }
        });
    </script>
<% end %>
<% content_for :contents do %>
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4 offset-md-3 offset-lg-4">
            <div style="padding: 20% 10% 20% 10%;border: 1px solid black;" class="jumbotron">
                <h1 style="text-align: center">LOGIN FORM</h1><br>
                <form action="/login" method="POST">
                    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
                    <label for="username" class="sr-only">Username</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">
                                <i class="fas fa-user"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Username" name="form[username]" aria-label="Username" value="<%= flash[:username] %>">
                    </div>
                    <label for="password" class="sr-only">Password</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">
                                <i class="fas fa-key"></i>
                            </span>
                        </div>
                        <input type="password" class="form-control" name="form[password]" placeholder="Password" aria-label="Password" id="password">
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="show-password">
                        <label class="custom-control-label" for="show-password">Show Password</label>
                    </div>
                    <br >
                    <% if flash[:error].present?  %>
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <%= flash[:error]  %>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <% end %>
                            <button class="btn btn-lg btn-primary btn-block" type="submit">LOGIN</button>
                </form>
            </div>
        </div>
    </div>
<% end %>