<% content_for :contents do %>
    <!-- <%= form_authenticity_token %> -->
    <!-- Button to Open the Modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
        Open modal
    </button>
    <div class="row">
        <div class="col-sm-2">
            
        </div>
        <div class="col-sm-10">
            <%= paginate @users, remote: true %>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <table class="table table-hover">
                <thead>
                    <th>Item Name</th>
                    <th>Category</th>
                    <th>SubCategory</th>
                    <th>SRP</th>
                    <th>DP</th>
                </thead>
                <tbody>
                    <tr ng-repeat="item in items">
                        <td>{{ item.name }}</td>
                        <td>{{ item.category }}</td>
                        <td>{{ item.subcategory }}</td>
                        <td>{{ item.retail_price }}</td>
                        <td>{{ item.dealers_price }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
<% end %>
<% content_for :modals do %>
    
    <!-- The Modal -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
    
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">ADD ITEMS</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
    
                <!-- Modal body -->
                <div class="modal-body">
                    <form id="add-item-form" ng-submit="add_item()">
                        <div class="form-group">
                            <label for="itemName">Item Name</label>
                            <input type="text" class="form-control" id="itemName" aria-describedby="itemName" placeholder="Enter item name" ng-model="formData.itemName">
                            <small id="itemName" class="form-text text-muted"></small>
                        </div>
                        <div class="form-group">
                            <label for="category">Item Category</label>
                            <input type="text" class="form-control" id="category" aria-describedby="category" placeholder="Enter item category" ng-model="formData.category">
                            <small id="category" class="form-text text-muted"></small>
                        </div>
                        <div class="form-group">
                            <label for="subcategory">Item Subcategory</label>
                            <input type="text" class="form-control" id="subcategory" aria-describedby="subcategory" placeholder="Enter item subcategory" ng-model="formData.subcategory">
                            <small id="subcategory" class="form-text text-muted"></small>
                        </div>
                        <div class="form-group">
                            <label for="retailPrice">Suggested Retail Price</label>
                            <input type="number" step="0.01" class="form-control" id="retailPrice" aria-describedby="retailPrice" placeholder="Enter suggested retail price" ng-model="formData.retailPrice">
                            <small id="retailPrice" class="form-text text-muted"></small>
                        </div>
                        <div class="form-group">
                            <label for="dealersPrice">Dealers Price</label>
                            <input type="number" step="0.01" class="form-control" id="dealersPrice" aria-describedby="dealersPrice" placeholder="Enter dealers price" ng-model="formData.dealersPrice">
                            <small id="dealersPrice" class="form-text text-muted"></small>
                        </div>
                    </form>
                </div>
    
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" form="add-item-form">Submit</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
    
            </div>
        </div>
    </div>
<% end %>
<% content_for :js do %>
    <script>
    app.controller('mainController', function ($scope, $http, $sce, $window) {
        $scope.firstName = moment().format();
        $scope.lastName = "Doe";
        $scope.formData = {};
        $scope.formErrors = {};

        $scope.add_item = function() {
            $scope.formErrors = {};
            $scope.submit = true;
            $http({
                method: 'POST',
                url: "/items",
                data: $.param({formData: $scope.formData})
            }).then(function (response) {
                $scope.submit = false;
                $.notify('A Bidder has been added.');
            }, function (rejection) {
                if (rejection.status != 422) {
                    request_error(rejection.status);
                } else if (rejection.status == 422) {
                    var errors = rejection.data;
                    $scope.formErrors = errors;
                }
                $scope.submit = false;
            });
        }
        get_container_items();
        function get_container_items(url_string) {
            url_string = (typeof url_string !== 'undefined') && url_string !== "" ? url_string : "/items/list";
            $scope.items = {};
            $scope.loading = true;
            $http({
                method: "GET",
                url: url_string,
            }).then(function mySuccess(response) {
                $scope.loading = false;
                console.log(response);
            }, function (rejection) {
                console.log(rejection);
                $scope.loading = false;
                if (rejection.status != 422) {
                    request_error(rejection.status);
                } else if (rejection.status == 422) {
                    console.log(rejection.statusText);
                }
            });

        }
    });
    </script>
<% end %>